@using pustoktemplate.ViewModels.Account;
@model RegisterVm
<main class="page-section inner-page-sec-padding-bottom">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
				<!-- Login Form s-->
				<form method="post">
					<div class="login-form">
						<h4 class="login-title">New Customer</h4>
						<p><span class="font-weight-bold">I am a new customer</span></p>
						<div class="row">
							<div class="col-md-12 col-12 mb--15">
								<input asp-for="FullName" placeholder="Enter your full name">
							</div>
							<div class="col-12 mb--20">
								<input asp-for="Email" placeholder="Enter Your Email Address Here..">
							</div>
							<div class="col-12 mb--20">
								<input asp-for="UserName" placeholder="UserName">
							</div>
							<div class="col-lg-6 mb--20">
								<label asp-for="Password">Password</label>
								<input asp-for="Password" placeholder="Enter your password">
							</div>
							<div class="col-lg-6 mb--20">
								<label asp-for="ConfirmPassword">Repeat Password</label>
								<input asp-for="ConfirmPassword" placeholder="Repeat your password">
							</div>
							<div class="col-md-12">
								<button type="submit" class="btn btn-outlined">Register</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>